@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        background-color: #333;
    }
}

@font-face {
    font-family: PixeloidMono;
    src: url("/PixeloidMono-1G8ae.ttf");
    font-display: block;
}
